body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            background-color: #f4f4f4;
            text-align: center;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }

        h1 {
            font-size: 2em;
            margin-bottom: 20px;
            color: #ffffff;
        }

        .game-card {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: start;
            background-color: #333;
            color: #fff;
            border-radius: 10px;
            margin: 20px 0;
            overflow: hidden;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        .game-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
        }

        .game-card img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            flex-shrink: 0;
        }

        .game-info {
            padding: 20px;
            flex: 1;
            position: relative;
        }

        .game-info h2 {
            font-size: 1.5em;
            margin: 0;
        }

        .game-info p {
            margin: 5px 0;
            font-size: 0.9em;
            color: #ccc;
        }

        .game-card:hover .game-description {
            opacity: 1;
        }

        .game-description {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.9);
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: opacity 0.3s ease;
            padding: 20px;
        }

        footer {
            background-color: #000000;
            padding: 20px 0;
            text-align: center;
            font-size: 0.9em;
            color: #ffffff;
            border-top: 1px solid #ddd;
        }
        
        footer nav {
            margin-bottom: 10px;
        }
        
        footer nav a {
            text-decoration: none;
            margin: 0 20px;
            color: #007BFF;
        }
        
        footer nav a:hover {
            text-decoration: underline;
        }
        
        footer .social-icons {
            justify-content: center;
        }